@use 'fonts';
@use 'variables';

* {
    margin: 0;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}
main {
    margin: 2rem 1.5rem;
}
.header {
    h1 {
        color: rgb(19, 48, 65);
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 125%;
        margin-bottom: .5rem;
    }
    
    .clear-btn {
        color: rgb(78, 110, 126);
        font-weight: 500;
        font-size: 1rem;
        line-height: 150%;
    }
    margin-bottom: 1.5rem;
}

.calculator {
    label {
        color: rgb(78, 110, 126);
        font-size: 1rem;
        font-weight: 500;
        display: block;
        margin-bottom: 1rem;
    }

    input{
        box-sizing: border-box;
        border-color: rgba(107, 148, 168, 1);
        font-size: 1.125rem;
        color: rgb(19, 48, 65);
        font-weight: 700;
    }

    input[type=text] {
        width: 100%;
        border-radius: 4px;
        padding: 1rem;
    }
    
    .inputs {
        margin-bottom: 1.5rem;
    }
    .input-amt {
        display: grid;
        .currency {
            margin: auto auto auto .1rem;
            @include variables.labels;
        }

        input {
            padding-left: 3.75rem;
        }

        .currency, input {
            grid-area: 1/-1;
        }
    }

    .input-years {
        display: grid;
        .years {
           @include variables.labels;
           margin: auto .1rem auto auto;
        }
        
        .years, input {
            grid-area: 1/-1;
        }
    }
    
    .input-rate {
        display: grid;
        .rate {
            @include variables.labels;
            margin: auto .1rem auto auto;
        }

        .rate, input {
            grid-area: 1/-1;
        }
    }

    .mortgage-type {
        .repayment, 
        .interest {
            padding: 1rem;
            border: 2px solid rgba(107, 148, 168, 1);
            border-radius: 4px;
            margin-bottom: .75rem;
            font-size: 1.125rem;
            font-weight: 700;
            color: rgb(19, 48, 65);

            input {
                margin-right: 1rem;
            }
        }
    }
}